---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="unLEASHING Quality Care"
	pubDate={new Date('March 6 2025')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p> 
	Experience:
	I've been caring for many different kinds of animals for nearly 22 years and been caring for pets through Rover for 3! 
	My parents raised show dogs, my grandparents had livestock and horses, and of course every kind of pet under the sun 
	(lizards and guinea pigs included!)
	</p>

	<p>
	Safety:
	I never take dogs outside without a leash. Security cameras are installed with constant recording both inside and outside my home. 
	I also have an Australian Shepard so I have LOTS of brain games to play with your dogs too!
	</p>

	<p>
	What I need to Know:
	I like to know what the sleep/feeding schedule of your pup is, as well as any tricks they know, 
	the time between bathroom breaks, and how they interact with other dogs.
	</p>

	<p>
	Other Info for You:
	I like to play Hide and Seek or Sit/Stay/break when feeding high energy dogs. I am really efficient at utilizing the spaces provided 
	(apartments, yards, neighborhoods, etc) to find stimulating activities that can be done any time of day. (And lots of tug and fetch)
	</p>

	
</Layout>
